<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newEatenStatus="{{eatenKey}}">
		{{#if eatenKey}}DEVOUR TIME!{{else}}EATEN!{{/if}}
	</button>

	<button class="delete-cat"  data-id="{{id}}">DELETE</button>
</li>
